<footer class="mx-auto max-w-2xl font-mono my-6 border-t">
    <div class="pt-4 flex justify-center items-center">
        <img class="w-1/5" src="./images/IMT_LogoSmall.png"><span class="text-xs text-gray-700"><a class="underline underline-offset-4 decoration-orange-500" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></span>
    </div>
</footer>